<form action="/login" method="POST">
  <input name="username" type="text" value="username">
  <input name="password" type="password" placeholder="The password is 'password'">
  <button type="submit">Submit</button>
</form>
